.error, .control-error {
	color:#ff5656 !important;
}
.error-help-block {
	color:#ff5656 !important;
}
.page-loader{
	z-index: 9999;
}
.login-signup .password-eye .changeToggle, .sign_up_form .password-eye .changeToggle {
	position: absolute;
	right: 0;
	top: 5px;
	cursor: pointer;
	padding: 2px;
	color: #708EAC;
}
.note {
	font-size: 12px;
	text-align: justify;
}
.resetPassword h3{
	padding-bottom: 0px;
}

.star-icon {
	background-image: url("../images/Star-Icon.svg") !important;
	width: 24px !important;
	height: 24px !important;
}

#reviewForm .stars {
	display: flex;
}

.account-layout .fa {
	font-size: 18px;
}

.pagination{
	font-size:20px !important;
}
#deleteModel .text-right {
	text-align: center !important;
}
#btn-disabled,
#btn-disabled[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
.order-review-block .billing-shipping {
	padding-top: 15px;
}
.order-review-block .decorator {
	display: flex;
}
/*Top search drop down display*/
.top-search-custom {
	position: absolute;
	z-index: 3;
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.top-search-custom ul
{ 
	max-height: 20em;
	overflow-y: auto;
}

.top-search-custom ul li {
	width: 100%;
	margin: 5px 0;
	display: flex;
	border-bottom: 1px solid #ddd;
}
.top-search-custom ul li img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
.top-search-custom ul li span {
	color: #252525;
}
.top-search-custom .top-search-price {
	font-weight: bold;
	color: #007EEC;
	margin-left: auto;
	text-align: right;
}

.search-overlay form
{
	width:1000px !important;
}

.accordian-content .btn-primary{
	color:#ffffff !important;
	font-size: 0.875rem !important;
	background-color: #007EEC !important;
	transition: all 0.5s ease-in-out !important;
	border-radius: 0px !important;
	text-transform: uppercase !important;
	padding: 6px 12px !important;

}

.search-overlay-mb .main ul {
	overflow-y: auto !important;
	max-height: 30em !important;
	margin: 10px;
	padding: 21px;
}

.search-overlay-mb .main ul li{
	line-height:40px;
	border-bottom:1px solid #ddd; 
	color: #252525;
	margin-bottom:13px;   
	list-style:none;
	display: flex;
}
.search-overlay-mb .main ul li span{
	font-size: 14px;
	line-height: 20px;
}
.search-overlay-mb .main  ul li img {
	width: 65px;
	height: 65px;
	float: left;
	margin: 5px 10px 5px 5px;
}

.search-overlay-mb .top-search-price{
   margin-left: 14px !important;
   font-weight: bold;
}

.filter-box #price{
	padding: 0 15px;
}

/* Pagination Conflict css Start */
.pagination .page-item {
	border: none;
	padding: 0;
	background: none;
	border-radius: none;
	padding: 0px;
	margin-right: 0px; 
}
/* End Pagination Conflict Css */

/*
|   Checkout page custom css
|   Start
*/
.mpauthorizenet-add-card-form h3{
	text-transform: capitalize;
}
.card-view input:checked~.checkmark{
	background-color: transparent;
	border: 2px solid #fff;
	width: 18px;
	height: 18px;
}
.card-view .radio-container .checkmark:after{
	background: #fff;
	width: 10px;
	height: 10px;   
}
.card-view .radio-container .checkmark{
	background-color: transparent;
	height: 18px;
	width: 18px;
	border: 2px solid #fff;
}

#saved-cards .radio-container, .shipping-method .radio-container{
	padding-left: 25px;
}
#saved-cards .radio-container .checkmark, .shipping-method .radio-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	border: 1px solid #aeaeae;
	border-radius: 100%;
}
#saved-cards .radio-container .checkmark:after, .shipping-method .radio-container .checkmark:after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #007eec;
	border: none;
}
#saved-cards input:checked ~ .checkmark, .shipping-method input:checked ~ .checkmark {
	background-color: transparent; 
	border: 1px solid #007eec;
}


.seller-shipping-products ul{
	margin: 10px auto 0;
	width: 95%;
}
.seller-shipping-products ul li {
	list-style: none;
	position: relative;
	padding-left: 15px;
}
.seller-shipping-products ul li:before {
	list-style: none;
	content: " \BB";
	padding-right: 5px;
	color: #708eac;
	position: absolute;
	left: 0;
}
.checkout-method-group .line-two {
	margin-left: 45px;
}
.checkout-method-group .line-one {
	display: inherit;
}
/*
|   Checkout page custom css
|   Ends
*/

/*
|   Saved cards listing custom css
|   Starts
*/
.list-order span.radio {
	margin: 0px 5px 5px 0px;
}
.list-order .radio .radio-view{
	background-image: none;
}

.saved-card input[type=radio]:checked +.radio-view:before{
   background-color: #007eec;
	-webkit-box-shadow: inset 0 0 0 4px #fff;
	box-shadow: inset 0 0 0 4px #fff;
	border: 1px solid #007eec;
}
.saved-card input[type=radio]+.radio-view:before{
	content: "";
	background: #fff;
	border-radius: 100%;
	border: 1px solid #aeaeae;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	position: relative;
	top: 2px;
	margin-right: 8px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
/*
|   Saved cards listing custom css
|   Ends
*/

/* Footer Pagination */
.product-footer-pagination {
	margin: 0 auto;
}

/*
|   Marketplace seller page design changes
|   Starts
*/

/* Profile Banner changes */
.profile-container .profile-right-block img{
	height: 400px;
	width: 100%;
	object-fit: cover;
}
.vendor-listing-page .hero-image img{
	height: 345px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.vendor-address .address {
    display: block;
    width: 100%;
    padding-left: 26px;
    position: relative;
    font-size: 14px;
    color: #000;
    line-height: 1.4;
    margin-bottom: 15px;
}

.vendor-address .address:before {
	content: "\f041";
    position: absolute;
    left: 0;
    top: 0;
    color: #007eec;
    font-size: 24px;
    font-family: FontAwesome;
}

.vendor-address .tel {
    font-size: 14px;
    color: #000;
    line-height: 1.4;
    margin-bottom: 15px;
    padding-left: 26px;
    position: relative;
}

.vendor-address .tel:before {
    content: "\f095";
    position: absolute;
    left: 0;
    top: 0;
    color: #007eec;
    font-size: 24px;
    line-height: 20px;
    font-family: FontAwesome;
}

.vendor-address .clear-link {
    background-color: #007eec;
    color: #fff;
    padding: 5px 10px;
    margin-left: auto;    
    margin-top: 5px;
}
.vendor-address .filter-title h4{
	font-size: 20px
}

.profile-container .profile-left-block .content .profile-logo-block {
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 100%;
}
.customClass .profile-details-right-block, .customClass .profile-details-left-block .slider-container{
	margin-bottom: 20px;
}
.customClass .userName {
	/*font-weight: bold;*/
	color: #5e5e5e;
}

.review-info .stars{
	margin-top: 10px;
}

.VueCarousel-slide {
	flex-basis: 32.8% !important;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
}
.VueCarousel-slide + .VueCarousel-slide{
	margin-left: 10px;
}

.profile-container .profile-top-block .review-information .stars {
	vertical-align: baseline;
}

/*
|   Marketplace sellet page design changes
|   Ends
*/

.profile-right-block .form-container {
	margin-top: 35px;
}
.apply{
	background-color: transparent;
	border: none;
}

.promocodeTotal .remove_coupon {
	background-color: red;
	border: none;
	border-radius: 30px;
	color: #fff;
	border-color: white;
}

.discount-group .coupon-form {
	width: 40%;
	float: right;
	margin-top: -50px;
	margin-right: 0px;
	position: relative;
}
.discount .discount-group .coupon-form .control{
    padding: 18px 10px;
}
.discount .discount-group .coupon-form .btn {
	position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    margin: 30px 0 0 0 !important;
    padding: 8px 10px;
    box-shadow: none;
}
.discount-details-group{
	display: flex;
    justify-content: flex-end;
    width: 80%;
    /*margin-top: -2%;*/
    margin-bottom: 5%;
}
.address-card-list p{
	margin-bottom: 5px;
}
.dropdown-list ul li{
	list-style: none;
}
.dropdown-toggle::after{
	display: none;
	justify-content: flex-end;
	width: 80%;
	/*margin-top: -2%;*/
	margin-bottom: 5%;
}

.dashboard .sale-stock .card {
	height: auto;
}
.account-content .sidebar{
	display: block;
}
@media(max-width: 650px){
	.account-item-card{
		height: auto;
		flex-wrap: wrap;
	}
	.authroizenet-card-info{
		width: 100%;
	}
	.authroizenet-card-info .radio-container{
		justify-content: space-between;
		display: flex;
		align-items: center;
	}
	.review-card{
		flex-wrap: nowrap;
	}
	.review-card .media-info{
		flex-wrap: wrap;
	}
	.account-head .account-heading{
		flex-grow: 1;
		margin-left: 10px;
	}
	.account-item-card .operations{
		flex-direction: row;
		flex: 100%;
		height: auto;
	}
	.account-item-card .operations a{
		margin: 0 auto;
		text-align: center;
	}
	.account-item-card .operations a span{
		float: none;
	}
	.discount-group .coupon-form{
		width: 100%;
		margin: 0;
	}
	.account-content .account-layout .account-head{
		flex-wrap: wrap;
	}
	.discount .discount-group .coupon-form .btn {
		min-width: auto;
	}
}
.main-navbar .user-access a{
	color: #002764;
}
.cartSection .show-mob{
	max-width: 150px;
	margin: 0 auto;
}

.order-review-block .shipping .decorator {
    display: flex;
    line-height: 34px;
}

.order-review-block .payment .decorator {
    line-height: 33px;
}
@media(min-width: 1200px){
	.search-overlay-mb{
		display: none;
	}
}
.seller-shipment{
	display: flex;
	flex-wrap: wrap;
}
.seller-shipping-products li label{
	font-size: 14px;
	color: #252525;
}
@media(min-width: 1024px){
	.seller-shipping-products{
		width: 50%;
		margin-bottom: 10px;
		padding-bottom: 15px;
		padding-right: 10px;
	}
	.seller-shipping-products:nth-child(odd){
		border-right: 1px solid #ddd;
	}
	.seller-shipment div:nth-last-child(1){
		border: none;
	}
}
.seller-shipping-total .seller-shipping-price + label{
	margin-top: 30px;
	color: #252525;
}
.seller-shipping-products .form-control{
	border: 1px solid rgba(112, 142, 172, 0.5);
}
.seller-shipping-products .form-control:focus{
	border: 1px solid rgba(112, 142, 172, 0.8);	
}
.authroizenet-card-info{
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: inline-block;
}
.authroizenet-card-info label{
	margin: 0px;
}
.currency-card-icon img{
	width: 45px;
}
#paymentForm .form-control{
	border: 1px solid #ddd;
	padding: 5px;
}
#paymentForm .form-control:focus{
	border: 1px solid rgba(112, 142, 172, 0.8);	
}
.vendor-address .store_description {
	word-break: break-word;
}
.zoomContainer{
	z-index: 1 !important;
}
#search-results {
	width: 100%;
}
#search-results .no_item_found {
	list-style: none;
	color: #495057;
	height: 45px;
	width: 100%;
	padding-top: 10px;
	padding-left: 13px;
}

.top-search-price .regular-price {
	text-decoration: line-through;
}
.regular-price {
	text-decoration: line-through;
}
@media(max-width: 767px){
	.account-head .account-heading{
		font-weight: bold;
	}
}
.authroizenet-card-info input:checked ~ .checkmark{
	background-color: transparent;
	border: 1px solid #007eec;
	margin-top: 3px;
}
.authroizenet-card-info .radio-container .checkmark:after{
	top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007eec;
    border: none;
}
.authroizenet-card-info .radio-container{
	padding-left: 25px;
}
.authroizenet-card-info label{
	color: #708EAC;
}    

.checkout-box .box .purchased-product .detial span{
	display: block;
	font-weight: normal;
}
.address-card .details .control-links .btn{
	height: auto;
	min-width: 100px;
	padding: 10px;
}
.account-item-card .media-info .info .product-name a{
	color: #252525;
}
.account-item-card .media-info .info .review-comment{
	font-style: italic;
}
.billing-address .card-title{
	margin-top: 15px;
}
.address-show select.form-control, .new-address select.form-control{
	border-radius: 1px;
}
.address-close-btn {
	color: #ffffff !important;
    border: 0px;
}
.address-close-btn{
	position: absolute;
    top: 0;
    margin: 0 !important;
    right: 0;
}
@media(max-width: 1200px){
	.checkout-box .box .address-close-btn{
	    padding: 6px 12px;
	}
}
.brand-section h2 {
	font-size: 17px;
    font-weight: 700;
    color: #000000;
}
.brand-section .price {
	color: #000000;
}
.subscription-newsletter .form-control{
	border: 1px solid #ddd;
	padding: 8px 10px;
	background-color: #fff;
}
.subscription-newsletter .form-control:focus{
	border: 1px solid #888;
}
.subscription-newsletter .form-control::-webkit-input-placeholder {
  color: #565656;
}
.subscription-newsletter .form-control::-moz-placeholder { 
  color: #565656;
}
.subscription-newsletter .form-control:-ms-input-placeholder { 
  color: #565656;
}
.subscription-newsletter .form-control:-moz-placeholder { 
  color: #565656;
}
@media(max-width: 767px){
	.zopim{
		bottom: 45px !important;
	}
}


.barline {
    border: solid 2px #00335f;
    padding: 10px;
    background: #00539b;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.barline span{
	font-size: 10px;
}

.barline+.banner-slider{
	margin-top: 0px;
}
@media(max-width: 575px){
	.barline {
		margin-top: 125px;
	}	
}

.margin-remove{
	margin: 15px 0 50px 0;
}
.barline+.common-section{
	margin: 15px 0 50px 0;
}