* { box-sizing: border-box; }

body { font-family: sans-serif; }


.mdl{
    display: block;
    position: relative;
    left: 45%;
}
#carousel1{
  background-color: #1a1a1d;
}
.content{
  background-color:#ffbf00;
}

  