*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e27d60;
}
.dropdown-menu{
    box-shadow: 0px 8px 16px 0px rgba(10, 2, 2, 0.9);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


#nav{
    background-color: #1a1a1d;
}
#navBtnRight{
    background-color: #c3073f;
}





#nav2{
    background-color: #1a1a1d;
    

}


#content{
    background-image: linear-gradient(#1a1a1d,#e27d60);
}

#footer{
    background-color: #4e4e50;
}
.overlay {
    position: absolute;
    top: 0%;
    left: 4%;
    background-color:rgba(0,123,255,0.3);
    height: 60.69%;
    width: 81.9%;
    opacity: 0;
    
}
.ctr{
     text-align: center;
     padding-top: 15%;
}
.imghov:hover .overlay{
    opacity: 1;
    
}
.box-1{
    background-color: #1a1a1d;
    text-align: center;
    
}
.follow{
    text-align: center;
}
.footer-bottom{
    text-align: center;
}
.bttn{
    background-color: #1a1a1d;
    border-radius: 30%;

}
.mob{
    display: flex;
    margin-top: 50px;
}
.item{
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
}
.mob:focus-within .item,
.mob:hover .item{
    transform: translateX(-25%);
}
.item img{
    display: block;
    max-width: 100%;
    opacity: 0.9;
    box-shadow: #1a1a1d;
}
.mob .item:focus,
.mob .item:hover{
    transform: scale(1.5);
    z-index: 1;
}
.item:hover ~ .item{
    transform: translate(25%);
}
.item:hover ~ .item-content{
    visibility: visible;
}
.item-content{
    position: relative;
    top: -20%;
    left: 30%;
    z-index: 2;
    visibility: hidden;
    
}

/*
<div class="box   d-flex flex-wrap justify-content-around">

                <div class="box-1  col-md-5 col-sm-6  d-flex flex-wrap">
                    <h3 class=" w-100 col-md-12 col-md-12">Grocery Essential</h3>
                    <div class="w-25 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn ">
                            <a href="#" class="nav-link">
                                <img src="icons/grocery.png" alt="">
                                <h6>Cooking Esential</h6>
                            </a>
                        </button>
                    </div>
                    <div class=" w-25 col-md-4 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/breakfast.png" alt="">
                                <h6>Breakfast Essentials</h6>
                            </a>
                    </div>
                    <div class=" w-25 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/food-and-restaurant.png" alt="">
                                <h6>Ready To Eat</h6>
                            </a>
                    </div>
                    <div class=" w-25 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/shelves.png" alt="">
                                <h6>All Grocery</h6>
                            </a>
                    </div>
                </div>
                
                <div class="box-1  col-md-5 col-sm-6  d-flex flex-wrap pt-5">
                    <h3 class=" w-100 col-md-12 col-md-12">books</h3>
                    <div class=" col-md-6 col-sm-6 col-xs-6 ml-5 pl-5">
                        <button class="btn ">
                            <a href="#" class="nav-link">
                                <img class="image-fluid" src="icons/book2.png" alt="">
                            </a>
                        </button>
                    </div>
                </div>
                <div class="box-1  col-md-5 col-sm-6  d-flex flex-wrap pt-5">
                    <h3 class=" w-100 col-md-12 col-md-12">Electric Appliances</h3>
                    <div class="w-25 col-md-6 col-sm-6 col-xs-6 ">
                        <button class="btn ">
                            <a href="#" class="nav-link">
                                <img src="icons/air-conditioner.png" alt="">
                                <h6>Air-conditioner</h6>
                            </a>
                        </button>
                    </div>
                    <div class=" w-25 col-md-4 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/washing-machine.png" alt="">
                                <h6>washing-machine</h6>
                            </a>
                    </div>
                    <div class=" w-25 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/vacuum.png" alt="">
                                <h6>Cleaning</h6>
                            </a>
                    </div>
                    <div class=" w-25 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn">
                            <a href="#" class="nav-link">
                                <img src="icons/monitor.png" alt="">
                                <h6>Smart TV</h6>
                            </a>
                    </div>
                </div>
                








            </div>
            <div class="container ">
            <div id="box" class="mt-5 row ">
                <div class="col-md-4  cpl-sm-12 ">
                    <img src="images/WhatsApp Image 2020-04-07 at 7.11.51 PM.jpeg" alt="" class=" imghov">
                    <div class="overlay ctr">

                        <ul class=" btn-group btn-group-vertical ">
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4  cpl-sm-12 ">
                    <img src="images/on-plus.jpeg" alt="" class=" imghov">
                    <div class="overlay ctr">

                        <ul class=" btn-group btn-group-vertical ">
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4  cpl-sm-12 ">
                    <img src="images/samsung.jpeg" alt="" class=" imghov">
                    <div class="overlay ctr ">

                        <ul class=" btn-group btn-group-vertical ">
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                            <button class="btn btn-group-item"><a href="#">iPhone 11</a></button>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
    
