*{margin: 0;
width: 100%;
height: 100%;
background-color: #1a1a1d;
}
#box{
    width: 900px;
    height: 650px;
    background-color: #c3073f;
    border: 10px solid #c3073f;
    border-radius: 10px;
    position: relative;
    top: 10%;
    left: 20%;
}
#email{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: #4e4e50;
    border: 10px solid #4e4e50;
    border-radius: 30px;
    position: relative;
    top: 20%;
    left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
#password{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: #4e4e50;
    border: 10px solid #4e4e50;
    border-radius: 30px;
    position: relative;
    top: 30%;
    left: 17%;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#login{
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: #e27d60;
    border: 10px solid #e27d60; 
    border-radius: 30px;
    position: relative;
    top: 50%;
    left: -15%; 
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#login:hover{
    background-color: #1a1a1d;
    border: 10px solid #1a1a1d;
    border-radius: 30px;
    cursor: pointer;
}
#reset{
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: #e27d60;
    border: 10px solid #e27d60;
    border-radius: 30px;
    position: relative;
    top: 53%;
    left: 53%; 
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#reset:hover{
    background-color: #1a1a1d;
    border: 10px solid #1a1a1d;
    border-radius: 30px;
    cursor: pointer;
}
#t1{
    width: 20%;
    height: 20px;
    
    background-color: cornsilk;
    position: relative;
    top: 30%;
    left: 0%; 
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

