*{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
#box{
    width: 50%;
    height: 30%;
    background-color: cornsilk;
    border: 10px solid cornsilk;
    border-radius: 10px;
    position: relative;
    top: 20%;
    left: 25%;
}
#text{
    width: 50%;
    height: 20%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chartreuse;
    background-color: cornsilk;
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 50px;
}