*{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
h1{
    margin-left: 40%;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chartreuse;
}
#box{
    width: 50%;
    height: 30%;
    background-color: cornsilk;
    border: 10px solid cornsilk;
    border-radius: 10px;
    position: relative;
    top: -90%;
    left: 25%;
}
#email{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 35%;
    left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#submit{
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: rgb(9, 218, 54);
    border: 10px solid rgb(9, 218, 54); 
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 33%; 
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#submit:hover{
    background-color: rgb(46, 2, 16);
    border: 10px solid rgb(46, 2, 16);
    border-radius: 30px;
    cursor: pointer;
}
