h1{
    margin-left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chartreuse;
}
*{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
#box{
    width: 60%;
    height: 80%;
    background-color: cornsilk;
    border: 10px solid cornsilk;
    border-radius: 10px;
    position: relative;
    top: -90%;
    left: 20%;
}
#fn{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#ln{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#dob{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#pw{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#cpw{
    width: 30%;
    height: 20px;
    padding: 5px;
    background-color: rgb(134, 236, 240);
    border: 10px solid rgb(134, 236, 240) ;
    border-radius: 30px;
    position: absolute;
    top: 40%;
    left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#submit{
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: rgb(9, 218, 54);
    border: 10px solid rgb(9, 218, 54); 
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 33%; 
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#submit:hover{
    background-color: rgb(46, 2, 16);
    border: 10px solid rgb(46, 2, 16);
    border-radius: 30px;
    cursor: pointer;
}
#reset{
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: rgb(9, 218, 54);
    border: 10px solid rgb(9, 218, 54); 
    border-radius: 30px;
    position: absolute;
    top: 70%;
    left: 33%; 
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
#reset:hover{
    background-color: rgb(46, 2, 16);
    border: 10px solid rgb(46, 2, 16);
    border-radius: 30px;
    cursor: pointer;
}