*{
    margin: 0;
    
}
#container{
    width: 100%;
    height: auto;
}
#header{
    width: 100%;
    height: 150px;
    background-color: #1a1a1d;
}
#uh{
    width: 100%;
    height: 75px;
    float: left;
    
}
#main-menu{
    width: 4%;
    height: 50px;
    background-color: #c3073f;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    border: 5px solid #c3073f;
    border-radius: 50px;
}
#logo{
    width: 10%;
    height: 50px;
    background-color: #c3073f;
    float: left;
    margin-top: 5px;
    border: 5px solid #c3073f;
    border-radius: 50px;
}
#search{
    width: 30%;
    height: 50px;
    background-color: whitesmoke;
    margin-top: 5px;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}

#rm1{
    width: 10%;
    height: 50px;
    float: left;
    background-color: #c3073f;
    margin-left: 5px;
    
}
#rm2{
    width: 10%;
    height: 50px;
    float: left;
    background-color: #c3073f;
    margin-left: 10px;
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rm3{
    width: 10%;
    height: 50px;
    float: left;
    background-color: #c3073f;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rm4{
    width: 10%;
    height: 50px;
    float: left;
    background-color: #c3073f;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rm5{
    width: 10%;
    height: 50px;
    float: right;
    background-color: #c3073f;
    margin-right:5px ;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bh{
    width: 100%;
    height: 75px;
    padding-top: 5px;
}
#location{
    width: 12%;
    height: 70px;
    background-color: #e27d60;
    float: left;
    padding-top: 5px;
}
#bm1{
    width: 5%;
    height: 50px;
    background-color: #e27d60;
    float: left;
    margin: 5px;
}
#bm2{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color:#e27d60;
    float: left;
}
#bm3{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color: #e27d60;
    float: left;
}
#bm4{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color: #e27d60;
    float: left;
}
#bm5{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color: #e27d60;
    float: left;
}
#bm6{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color: #e27d60;
    float: left;
}
#bm7{
    width: 5%;
    height: 50px;
    margin: 5px;
    background-color: #e27d60;
    float: left;
}
#bm8{
    width: 5%;
    margin: 5px;
    height: 50px;
    background-color: #e27d60;
    float: left;
}
#ad1{
    width: 40%;
    height: 70px;
    background-color: #950740;
    float: right;
}
#content{
    height: 830px;
    width: 100%;
    background-color: #1a1a1d;
}
#ad2{
    width: 100%;
    height: 140px;
    background-color: #950740;
    padding-top: 10px;
}
#content1{
    height: 400px;
    width: 20%;
    background-color: #c3073f;
    margin: 20px;
}
#content2{
    height: 180px;
    width: 40%;
    background-color: #c3073f;
    position: relative;
    top: -415px;
    left: 380px;     
}
#content3{
    height: 180px;
    width: 40%;
    background-color: #c3073f;
    position: relative;
    top: -380px;
    left: 380px;     
}
#content4{
    height: 195px;
    width: 32%;
    background-color: #c3073f;
    position: relative;
    top: -775px;
    left: 1080px;    
}
#ad3{
    height: 190px;
    width: 32%;
    background-color:  #950740;
    position: relative;
    top: -765px;
    left: 1080px;    
}
#content5{
    height: 180px;
    width: 97%;
    background-color: 1a1a1d;
    position: relative;
    top: -700px;
    left: 25px; 
}
#footer{
    width: 100%;
    height: 300px;
    background-color: #4e4e50;
    
}
#footer1{
    width: 100%;
    height: 50px;
    border-bottom:1px solid black;
}
#footer2{
    width: 100%;
    height: 150px;
    border-bottom:1px solid black;
}
#footer3{
    width: 100%;
    height: 100px;
}
